<div class="container">
  <h4><%= title %></h4>

  <% if (users.length === 0) { %>
    <p>No users found.</p>
  <% } else { %>

    <table class="highlight responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Email</th>
          <th>Role</th>
          <th class="center-align">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td><%= user.email %></td>
            <td>
              <span class="new badge blue" data-badge-caption="">
                <%= user.role %>
              </span>
            </td>

            <td class="center-align">
              <!-- Edit -->
              <a href="/users/edit/<%= user._id %>"
                 onclick="return confirm('Edit this user?')"
                 class="btn-small blue waves-effect waves-light">
                <i class="material-icons">edit</i>
              </a>

              <!-- Delete -->
              <a href="/users/delete/<%= user._id %>"
                 onclick="return confirm('Delete this user?')"
                 class="btn-small red waves-effect waves-light">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  <% } %>
</div>
